<div class="navbar bg-base-100 shadow">
    <div class="navbar-start">
        <a routerLink="/" class="btn bg-transparent hover:bg-transparent border-transparent hover:border-transparent shadow-none text-xl">
            <img class="h-8" src="assets/images/taslim-baby-logo.png" alt="Logo Taslim Baby" />
        </a>
    </div>
    <div class="navbar-end">
        <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="btn btn-circle btn-ghost text-xl" id="infos">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="h-6 w-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                </svg>
            </div>
            <ul class="menu dropdown-content menu-sm z-[1] mt-3 w-52 rounded-box bg-base-100 p-2 shadow"
                (click)="closeDropdown()">
                @if (isAuthenticated$ | async) {
                <li><a routerLink="/products">Produits</a></li>
                <li><a routerLink="/sign-out">Se déconnecter</a></li>
                } @else {
                <li><a routerLink="/sign-in">Se connecter</a></li>
                <li><a routerLink="/sign-up">Créer un compte</a></li>
                }
            </ul>
        </div>
    </div>
</div>