<div class="flex justify-between h-96 flex-col overflow-y-auto p-8 sm:w-96 bg-white rounded-2xl shadow-md">
    <div class="grow">
        @if(productsAdded && productsAdded.length > 0) {
            @for (productAdded of productsAdded; track productAdded.id) {
            <cart-card [productAdded]="productAdded"></cart-card>
            }
        } @else {
            <div class="text-center mt-28">Votre panier est vide</div>
        }
    </div>
    <div>
        <div class="flex justify-between pb-2">
            <div>Total :</div>
            <div class="font-bold">{{ calculatePrice() | currency: 'EUR' }}</div>
        </div>
        <button class="btn btn-primary w-full" onclick="my_modal_1.showModal()" [disabled]="productsAdded?.length == 0">Payer</button>
        <dialog id="my_modal_1" class="modal">
            <div class="modal-box">
                <h3 class="font-bold text-lg">Commande confirmée !</h3>
                <p class="py-4">Merci d'avoir effectué vos achats sur Taslim Baby.</p>
                <div class="modal-action">
                    <form method="dialog">
                        <button class="btn" (click)="reload()">Fermer</button>
                    </form>
                </div>
            </div>
        </dialog>
    </div>
</div>